<!DOCTYPE html>
<html>
  <head>
    <title><%= (!!locals.title)?title:'' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= (!!locals.title)?title:'' %></h1>
  </body>
</html>
