<!DOCTYPE html>
<html>

<head>
  <title>Food Center</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b5123099c5.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <!-- <style>
      .sidebar-dark-primary {
        background-color: #030025 !important; /* Change to green color */
      }
    </style> -->
</head>

<body>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link logo-switch this">
      Food Center
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= (!!locals.admin)?admin:'Admin' %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2 ">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <!-- Thống Kê -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/thong-ke/doanh-thu" class="nav-link ">

                  <p>Thống kê doanh thu</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/thong-ke/mon-ban-chay" class="nav-link">

                  <p>Thống kê món bán chạy</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý món -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/mon/danh-sach" class="nav-link">

                  <p>Quản lý món</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/loai-mon/danh-sach" class="nav-link">

                  <p>Quản lý loại món</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- hóa đơn -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/hoa-don/danh-sach" class="nav-link ">

                  <p>Quản lý hóa đơn</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Quản lý cửa hàng -->
          <li class="nav-item menu-open">

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/cua-hang/danh-sach" class="nav-link">

                  <p>Quản lý cửa hàng</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/quan-ly/danh-sach" class="nav-link">

                  <p>Quản lý tài khoản</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khuyến mãi -->
          <li class="nav-item menu-open">

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khuyen-mai/danh-sach" class="nav-link active">

                  <p>Quản lý khuyến mãi</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Quản lý khách hàng -->
          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/khach-hang/danh-sach" class="nav-link">

                  <p>Quản lý khách hàng</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/slide" class="nav-link">

                  <p>Quản lý quảng cáo</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- Đăng xuất -->
          <li class="nav-item border-top border-1 ">
            <a href="/auth/sign-out" class="nav-link">
              <p>
                Đăng xuất
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- <h1><%= (!!locals.title)?title:'' %></h1> -->

  <div class="content-wrapper bg-white" style="min-height: 100vh; max-height: 100vh; overflow-y: auto;">
    <div class="content-header border border-bottom-1">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <span class="h2"><a href="/khuyen-mai/danh-sach" class="fas fa-arrow-left"
                style="color: black; text-decoration: none;">
              </a><span style="margin-left: 20px;">Thêm Mới Khuyến Mãi</span> </span>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Khuyến mãi</a></li>
              <li class="breadcrumb-item active">Thêm mới</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="container-fluid bg-white m-2">

        <!-- Main content nằm ở dây -->


        <form action="/khuyen-mai/ADD" method="post">
          <h5 class="py-2">Nhập thông tin khuyến mãi</h5>
          <div class="form-group">
            <label class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="tieuDe" name="tieuDe" placeholder="Nhập Tiêu Đề ">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Ngày bắt đầu</label>
            <input type="date" class="form-control" name="ngayBatDau" id="ngayBatDau" placeholder="Ngày bắt đầu">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Ngày hết hạn</label>
            <input type="date" class="form-control" name="ngayHetHan" id="ngayHetHan" placeholder="Ngày hết hạn">
          </div>
          <div class="form-group">
            <label class="form-label">Phần trăm khuyến mãi</label>
            <input type="text" class="form-control" name="phanTramKhuyenMai" id="phanTramKhuyenMai"
              placeholder="Nhập Phần trăm khuyến mãi">
          </div>
          <div class="form-group">
            <label class="form-label">Đơn tối thiểu</label>
            <input type="text" class="form-control" name="donToiThieu" id="donToiThieu"
              placeholder="Nhập Đơn tối thiểu">
          </div>

          <% if(typeof error==="string" && !(error.trim().length===0)){%>
            <span class="text-danger">
              <%= error %>
            </span>
            <%}%>
              <div class="col text-center">
                <button type="submit" class="btn btn-default btn-dark">Thêm khuyến mãi</button>
              </div>

        </form>


        <% if(typeof alert !=='undefined' && alert !==null) { %>
          <input type="hidden" id="thongBao" value="<%= alert %>">
        <% } else { %>
          <input type="hidden" id="thongBao" value="">
        <% } %>

        <!-- Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="alertContent">
              <!-- Nội dung cảnh báo sẽ được thêm vào đây -->
            </div>
          </div>
        </div>
      </div>


      </div>
    </section>
  </div>

  <!-- Scripts -->
  <script type="text/javascript">
    let myidtoinsert = window.location.toString();
    $(document).ready(function () {
      $(".open").click(function (e) {
        e.stopPropagation()
        e.preventDefault()
        $(this).parent().toggleClass('menu-open');
      }
      )
    }
    )


    $(document).ready(function () {
  // Lấy tham số từ URL
  const urlParams = new URLSearchParams(window.location.search);

  // Kiểm tra giá trị của tham số 'sua'
  const them = urlParams.get('them');

  // Nếu tham số 'sua' tồn tại và có giá trị true hoặc false
  if (them === 'true' || them === 'false') {
    // Chọn modal và nội dung thông báo
    const modal = $('#alertModal');
    const alertText = $('#alertContent');

    // Kiểm tra giá trị của 'sua' và hiển thị thông báo tương ứng
    if (them === 'true') {
      // Hiển thị thông báo thành công
      alertText.text('Thêm khuyến mãi thành công!');
    } else if (them === 'false') {
      // Hiển thị thông báo thất bại
      alertText.text('Thêm khuyến mãi thất bại!');
    }

    // Hiển thị modal
    modal.modal('show');
  }
});

  </script>
</body>

</html>